
body {
  margin: 0;
  padding: 0;
  background-image: url('./img/kvhaz.jfif');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
  opacity: 0.9;
}
.content-wrapper {
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  padding: 20px;
}

.navbar {
  background-color:  #ff7e5f;
  opacity: 0.8;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-item {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.navbar-item:hover {
  background-color: #ff7e5f;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: yellow;
  text-decoration: none;
}

.navbar-brand:hover {
  background-color: transparent;
}

.hozzaad{
  margin-left: 350px ;
  margin-right: 350px;
  color: white;
  background-color:  #ff7e5f;
  border-radius: 8px;
  opacity: 0.9;
}
.szoveg{
  color: white;
  opacity: 1;
}
.form-container,
.concert-list-container {
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.form-container:hover,
.concert-list-container:hover {
  transform: scale(1.05);
}

input,
button,
select {
  border-radius: 8px;
  border: 2px solid #e0e0e0;
  padding: 12px 16px;
  font-size: 1rem;
  margin-bottom: 15px;
  width: 100%;
  background-color: #f9f9f9;
}

button {
  background-color: #ff7e5f;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #feb47b;
}

input:focus,
select:focus {
  outline: none;
  border-color: #ff7e5f;
  box-shadow: 0 0 5px rgba(255, 126, 95, 0.5);
}

.table-container {
  width: 100%;
  overflow-x: auto;
  background-color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
  font-size: 1.1rem;
}

th {
  background-color: #ff7e5f;
  color: white;
  text-transform: uppercase;
}

td {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ffebeb;
}

.table-danger {
  background-color: #ffcccc !important;
}

button.disabled {
  background-color: #ccc !important;
  cursor: not-allowed;
}

